* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
}

.weather-wrapper {
    background: lightblue;
    padding: 4em;
    border-radius: 0.5em;

    p {
        line-height: 1.6em;
    }

    .cityCountry {
        font-weight: bold;
    }

    .temp {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .feels-temp {
        font-size: 0.9em;
        font-style: italic;
    }
}

footer {
    font-size: 0.68em;

    .dev {
        padding: 0.6em;
        text-transform: uppercase;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.9em;
    }
}
